body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: relative;
    overflow: hidden;  /* Voorkomt scrollbars */
    background-image: url("battleship.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#myVideo {
    position: fixed;
    width: 1000px;
    height: 1000px;
    /* min-width: 100%;
    min-height: 100%; */
    /* width: auto;
    height: auto; */
    z-index: -1;  /* Plaatst video achter de content */
    object-fit: cover;
}

table {
    width: 1000px;
    height: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
}

#table-heading {
    font-size: 3em;
    width: calc(100% / 11);
    height: calc(100% / 11);
    background-color: gray !important;
}

th {
    border: 1px solid black;
    font-size: 2em;
    background-color: lightsteelblue; 
}

td {
    border: 1px solid black;
    text-align: center;
    width: calc(100% / 11);
    height: calc(100% / 11);
    background-color: rgba(16, 33, 77, 0.596);
    transition: 0.5s;
    font-size: 1em;
    color: transparent;
}

td:hover {
    cursor: pointer;
    background-color: rgb(251, 255, 0);
    color: black;
}

.zeekleur {
    background-color: blue;
    color: white;
}

.boot1kleur {
    background-color: rgb(255, 0, 0);
    color: white !important;
}

#Zeeslag-bord {
    border-collapse: collapse;
}

#Zeeslag-bord th, #Zeeslag-bord td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}